.menu_item_p {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}
.menu_item {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
.menu_item_tags {
  width: 100%;
  margin: 0.2rem 0;
}
.menu_item_name {
  flex: 1;
}
.menu_item_dash {
  position: static;
  width: 119px;
  height: 1px;

  background: var(--color-golden);
  margin: 0 1rem;
}
.menu_item_price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
