.menu_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  background-color: var(--color-black);
  border: 2px solid var(--color-golden);
  border-radius: 2rem;
  box-shadow: 24px;
  padding: 4px;
}
.modal_title {
  display: flex;
  align-items: center;
  transform: translate(50%, 50%);
  font-family: var(--font-alt);
  color: var(--color-golden);
}
