.eighttable {
  position: absolute;
  cursor: pointer;
  width: 400px;
  height: 150px;
  z-index: 3;
}
.table_eight {
  position: absolute;
  top: 25px;
  left: -10px;
  width: 450px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.places_eight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 50px;
  z-index: 0;
}
.sit_one,
.sit_two,
.sit_three,
.sit_four,
.sit_five,
.sit_six,
.sit_seven,
.sit_eight {
  width: 50px;
  height: 50px;
  background: rgba(233, 232, 231, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.table_number_eight {
  position: absolute;
  top: 40px;
  z-index: 2;
  right: -20px;
  color: white;
  font: var(--font-base);
}
.eighttable_time_name {
  position: absolute;
  z-index: 2;
  color: white;
  font: var(--font-base);
  bottom: 35px;
}
.eighttable_time {
  position: absolute;
  z-index: 2;
  color: white;
  bottom: 55px;
  font: var(--font-base);
}
