.reservation_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  background-color: var(--color-black);
  border: 2px solid var(--color-golden);
  border-radius: 2rem;
  box-shadow: 24px;
  padding: 4px;
}
.reservation_title {
  display: flex;
  align-items: center;
  transform: translate(45%, 50%);
  font-family: var(--font-alt);
  color: var(--color-golden);
}
.calendar_modal {
  margin-top: 4rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.calendar {
  width: 20rem;
}
.time {
  display: grid;
  width: 20rem;
  color: white;
  grid-template-columns: 10rem 10rem;
  height: 20rem;
}
.button_time {
  width: 9rem;
  height: 3rem;
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 17.5px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.button_time:active {
  background-color: var(--color-golden);
}
.react-calendar {
  background-color: transparent;
  border-radius: 2rem;
  font-family: var(--font-alt);
  border-color: var(--color-golden);
}
.react-calendar__navigation button {
  color: var(--color-golden);
}
.react-calendar__navigation button,
.react-calendar__navigation button {
  border-radius: 2rem;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--color-golden);
  border-radius: 2rem;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  border-radius: 2rem;
  background: #a9d4ff;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 2rem;
  background: #ffffa9;
}
.react-calendar__tile--now {
  border-radius: 2rem;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 2rem;
  background-color: var(--color-golden);
}
.react-calendar__tile--active {
  background: var(--color-golden);
  border-radius: 2rem;
}
.reservation_form {
  position: absolute;
  margin-top: 6rem;
  max-width: 20rem;
  left: 40%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}
form > button {
  width: 10rem;
}
input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-golden);
  resize: none;
  color: var(--color-white);
}
.send_button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: 20rem;
  height: 5rem;
}
.react-calendar__navigation button[disabled] {
  background: transparent;
}
.react-calendar__tile:disabled {
  color: grey;
  background-color: transparent;
}
.react-calendar__tile {
  color: white;
}
.react-calendar__tile--now {
  background-color: #6f48eb;
}
.react-calendar__month-view__weekdays {
  color: var(--color-golden);
}
